button {
  border: none;
  background-color: rgb(80, 60, 209);
  font-size: 30px; 
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {

  background-color: #1e90b0;
}

.equals {
  grid-column: 3 / 5;
  background-color: #b01e81;
}

.equals:hover {
  background-color: #b01e81;
}
